body {
  background-image: url('images/rpsback.png');
  padding: 0%;
  margin: 0%;
}


header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20vh;
}
.headerinfo {
  color: white;
  font-family: monospace;
  font-size: 50px;
}
.resetbtn {
  height: 5vh;
  width: 10vw;
  cursor: pointer;
  border-radius: 3vw;
  font-weight: 700;
  transition: 0s ease-in-out;
}
.resetbtn:active {
  transform: scale(0.9);
  background-color: rgb(5, 109, 5);
}


.scorebox {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 20vh;
}
#pScore {
  color: white;
  font-family: monospace;
  font-size: 18px;
}
#gScore {
  color: white;
  font-family: monospace;
  font-size: 18px;
}
#cScore {
  color: white;
  font-family: monospace;
  font-size: 18px;
}


#selections {
  display: flex;
  flex-direction: column;
}
.selectionsinfobox {
  display: flex;
  justify-content: center;
}
.options {
  display: flex;
  justify-content: space-around;
    margin-top: 6vh;
}
.selectioninfo {
  color: white;
  font-family: monospace;
  font-size: 18px;
}

.rock {
  transition: 1s ease-in-out;
}
.paper {
  transition: 1s ease-in-out;
}
.scissors {
  transition: 1s ease-in-out;
}

.rock:hover {
  cursor: pointer;
  transform: scale(1.2);
}
.paper:hover {
  cursor: pointer;
  transform: scale(1.2);
  
}
.scissors:hover {
  cursor: pointer;
  transform: scale(1.2);
  
}


footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
}
h5 {
  color: white;
  font-size: 19px;
  font-family: monospace;
}